/* line-height */
html {
  margin: 0;
  padding: 0;
  font: 400 19px "Noto Serif", Georgia, Palatino, Times, serif;
  line-height: 1.6rem;
  color: #333;
  letter-spacing: 0.024rem; }

h3 {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.096rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.6rem;
  margin: 0 auto 0.96rem; }

p, ul {
  margin: 0 auto 0.96rem; }

a {
  text-decoration: none;
  color: blue;
  border-bottom: 2px solid #dfdfdf; }
  a:hover {
    border-color: blue; }

img {
  width: 100%; }

img.emoji {
  width: 1.6rem;
  display: inline;
  margin: 0 0.15rem 0.25rem;
  vertical-align: middle; }

ul {
  padding: 0; }
  ul li {
    display: block; }
    ul li.project {
      margin: 1.6rem 0; }
    ul li dd {
      margin: 0; }

#greeting {
  font-weight: 900; }

#main_container {
  margin: auto;
  max-width: 860px;
  margin: 2.4rem auto; }
  #main_container section {
    margin: 1.6rem; }
    #main_container section#intro ol {
      padding: 0;
      margin: 1.6rem 0; }
      #main_container section#intro ol li {
        display: block; }
    #main_container section#personal li {
      display: inline;
      margin: 0;
      padding: 0;
      transition: all 0.3s; }
      #main_container section#personal li dt {
        display: inline; }
        #main_container section#personal li dt a {
          color: #333; }
        #main_container section#personal li dt:after {
          content: ", "; }
        #main_container section#personal li dt.hidelink a {
          pointer-events: none;
          border: none;
          color: inherit; }
      #main_container section#personal li:last-child dt:after {
        content: ""; }
      #main_container section#personal li dd {
        display: none; }
    #main_container section#personal#expanded li {
      display: block;
      margin: 1rem auto;
      font-family: Proxima Nova; }
      #main_container section#personal#expanded li dt {
        display: inline;
        font-style: italic; }
        #main_container section#personal#expanded li dt:after {
          content: ". "; }
      #main_container section#personal#expanded li dd {
        display: inline; }

#main {
  display: flex;
  flex-direction: row; }
  #main .frame:first-of-type {
    width: 60%; }
  #main .frame:last-of-type {
    width: 40%; }

#portrait {
  background: 65% 20% url("/images/cml.png");
  background-size: cover;
  height: 12.8rem;
  -webkit-filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%);
  -moz-filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%);
  filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%); }

@media screen and (max-width: 860px) {
  html {
    font: 400 18.5px "Noto Serif", Georgia, Palatino, Times, serif;
    line-height: 1.6rem; }

  #main_container {
    margin: 0.8rem; }
    #main_container section {
      margin: 1.2rem; }
      #main_container section#intro ol {
        padding-top: 0; } }
@media screen and (max-width: 700px) {
  #main_container {
    margin: 1.2rem; }
    #main_container section {
      margin: 1.6rem 0; }

  #main {
    margin: auto;
    display: flex;
    flex-direction: column; }
    #main .frame:first-of-type {
      width: auto; }
    #main .frame:last-of-type {
      width: auto; }

  #portrait {
    height: 17.6rem;
    margin-bottom: 2.4rem; } }
@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
    line-height: 1.6rem; }

  h3 {
    font-size: 1rem; }

  #main_container {
    margin: 0.8rem; }

  #portrait {
    height: 16rem; } }

/*# sourceMappingURL=home.css.map */
