$bg-color: #fff;
$primary-color: #333;
$secondary-color: #E91D95;
$highlight-color: #dfdfdf;

$base-lh: 1.6rem; /* line-height */

$serif: 'Source Serif Pro', Georgia, Palatino, Times, serif;
$sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;

html {
  margin: 0;
  padding: 0;
  font: 400 20.5px $serif;
  line-height: $base-lh;
  color: $primary-color;
  letter-spacing: 0.007*$base-lh;
  background-color: $bg-color;
}

body {}

h3 {
  font-size: 1.0rem;
  font-weight:700;
  line-height: $base-lh;
  margin: 0 0 0.5*$base-lh;
}

p, ul {
  margin: 0 auto 0.6*$base-lh;
  padding: 0;
}

a {
  text-decoration: none;
  color: $secondary-color;
  border-bottom: 2px solid $highlight-color;
  font-weight:600;

  &:hover {
    border-color: pink;
  }
}

img {
  width: 100%;
}
img.emoji {
  width: $base-lh;
  display: inline;
  margin: 0 0.15rem 0.25rem;
  vertical-align: middle;
}



#main_container {
  max-width: 720px;
  margin: 2.5*$base-lh;

  section {
    margin: $base-lh 0;

    &#contact {
      ol {
        padding: 0;
        margin: 0;
        li {
          display: block;
        }
      }

    }
    &#personal {
      li {
        display: inline;
        margin:0;
        padding: 0;
        transition: all 0.3s;
        dt {
          display: inline;

          a {
            color: #333;
            font-weight:normal;
          }
          &:after {
            content: ", ";
          }
          &.hidelink a {
            pointer-events: none;
            border:none;
            color:inherit;
          }
        }
        &:last-child dt:after {
          content: "";
        }
        dd {
          display: none;
        }
      }
      &#expanded {
        li {
          display: block;
          margin: 1rem auto;
          font-family: Proxima Nova;

          dt {
            display: inline;
            font-style: italic;
            &:after {
              content: ". ";
            }
          }
          dd {
            display: inline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  $base-lh: 1.6rem;
  html {
    font: 400 20px $serif;
    line-height: $base-lh;
  }
  #main_container {
    margin: 1.5*$base-lh;
  }
}

@media screen and (max-width: 500px) {
  $base-lh: 1.6rem;
  html {
    font: 400 17.5px $serif;
    line-height: $base-lh;
  }
  #main_container {
    margin: $base-lh;
  }
}
