$bg-color: #fff;
$primary-color: #333;
$secondary-color: blue;
$highlight-color: #dfdfdf;

$base-lh: 1.6rem; /* line-height */

$serif: 'Noto Serif', Georgia, Palatino, Times, serif;
$sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;

html {
  margin: 0;
  padding: 0;
  font: 400 19.5px $serif;
  line-height: $base-lh;
  color: $primary-color;
  letter-spacing: 0.015*$base-lh;
}

body {
}

h3 {
  font-size: 0.85rem;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 0.06*$base-lh;
  font-family: $sans-serif;
  line-height: $base-lh;
  margin: 0 auto 0.6*$base-lh;
}

p, ul {
  margin: 0 auto 0.6*$base-lh;
}

a {
  text-decoration: none;
  color: $secondary-color;
  border-bottom: 2px solid $highlight-color;

  &:hover {
    border-color: $secondary-color;
  }
}

img {
  width: 100%;
}
img.emoji {
  width: $base-lh;
  display: inline;
  margin: 0 0.15rem 0.25rem;
  vertical-align: middle;
}

ul {
  padding:0;
  li {
    display: block;

    &.project {
      margin: $base-lh 0;
    }
    dd {
      margin:0;
    }

  }
}

#greeting {
  font-weight: 900;
}

#main_container {
  margin: auto;
  max-width: 860px;
  margin: 1.5*$base-lh auto;

  section {
    margin: $base-lh;

    &#intro {
      ol {
        padding: 0 0.75*$base-lh $base-lh;
        margin:0;
        li {
          margin:0;
        }
      }

    }
    &#personal {
      li {
        display: inline;
        margin:0;
        padding: 0;
        transition: all 0.3s;
        dt {
          display: inline;

          a {
            color: #333;
          }
          &:after {
            content: ", ";
          }
          &.hidelink a {
            pointer-events: none;
            border:none;
            color:inherit;
          }
        }
        &:last-child dt:after {
          content: "";
        }
        dd {
          display: none;
        }
      }
      &#expanded {
        li {
          display: block;
          margin: 1rem auto;
          font-family: Proxima Nova;

          dt {
            display: inline;
            font-style: italic;
            &:after {
              content: ". ";
            }
          }
          dd {
            display: inline;
          }
        }
      }
    }
  }
}

#main {
  display: flex;
  flex-direction: row;
  .frame {
    &:first-of-type { width:60%; }
    &:last-of-type { width:40%; }
  }

}

#portrait {
  background: 65% 20% url("/images/cml.png");
  background-size: cover;
  height: 8*$base-lh;

  -webkit-filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%);
     -moz-filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%);
          filter: contrast(70%) brightness(90%) sepia(80%) hue-rotate(330deg) opacity(100%) saturate(75%);
}

@media screen and (max-width: 860px) {
  $base-lh: 1.6rem;
  html {
    font: 400 18.5px $serif;
    line-height: $base-lh;
  }
  #main_container {
    margin: 0.5*$base-lh;

    section {
      margin: 0.75*$base-lh;

      &#intro {
        ol {
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  html {
  }
  #main_container {
    margin: 0.75*$base-lh;

    section {
      margin: $base-lh 0;
    }
  }

  #main {
    margin: auto;
    display: flex;
    flex-direction: column;

    .frame {
      &:first-of-type { width: auto; }
      &:last-of-type { width: auto; }
    }
  }
  #portrait {
    height: 11*$base-lh;
    margin-bottom: 1.5*$base-lh;
  }
}
@media screen and (max-width: 500px) {
  $base-lh: 1.6rem;
  html {
    font-size: 16px;
    line-height: $base-lh;
  }
  h3 {
    font-size: 1rem;
  }

  #main_container {
    margin: 0.5*$base-lh;
  }
  #portrait {
    height: 10*$base-lh;
  }
}
