$bg-color:white;
$text-color: rgb(15, 78, 150);
$link-color: rgb(15, 78, 150);
$highlight-color: rgb(15, 78, 150);

$base-type-size: 23px;
$base-lh: 32px;
$base-p-spacing: 24px;

$sans-serif: SF Pro, Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji";

html {
  display: flex;
  margin: 0;
  padding:0;
  background-color: $bg-color;
  min-height:100%;
}

body {
  margin:0;
  width:100%;
  display:flex;
  padding: $base-lh*2;
  font-family: $sans-serif;
  font-size: $base-type-size;
  font-weight: 500;
  line-height: $base-lh;
  color: $text-color;
  letter-spacing: 0.001em;
}
#main_container {
  max-width: 600px;
}
p {
  margin: 0 0 $base-p-spacing;
  padding:0;

  &#header {
    margin-bottom: $base-p-spacing*2;
  }
}
ul {
  margin:0;
}
h1 {
  display:none;
  font-size: 35px;
  font-weight: 800;
  line-height: $base-lh;
  margin: 0 auto $base-p-spacing*2;
}
b {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1.8px solid $highlight-color;
  &:hover {
    background: rgb(230, 238, 248);
    }
}

img {
  margin-bottom: $base-p-spacing;
  filter: contrast(105%) sepia(100%) saturate(1000%) brightness(100%) saturate(40%) hue-rotate(172deg);
  border-radius: 100%;
  width: $base-lh*6;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  } 
}