$bg-color: #ebeef3;
$text-color: #585a61;
$link-color: #24252b;
$highlight-color: #f7e700;

$base-type-size: 28px;
$base-lh: 36px;
$base-p-spacing: $base-lh*.667;

$sans-serif: Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji";
$serif: "EB Garamond", -apple-system, serif;
$photo-width: $base-lh*2;

html {
  display: flex;
  margin: 0;
  font-family: $serif;
  font-size: $base-type-size;
  line-height: $base-lh;
  letter-spacing: 0.02em;
  color: $text-color;
  background-color: $bg-color;
  min-height:100%;
  height:100%;
}

body {
  margin:0 auto;
  display:flex;
  align-items: center;
}

p, ul {
  margin: 0 0 $base-p-spacing;
  padding:0;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 2px solid white;
  &:hover {    
    }
}

#main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $base-lh;
  text-align: center;
  max-width: 480px;

}

img {
  width: 24px;
  margin-bottom: $base-lh;
  display: none;
}