<!doctype html>
<html>
  <head>

  	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
  	<script src="https://use.typekit.net/nyr8nyp.js"></script>
  	<script>try{Typekit.load({ async: true });}catch(e){}</script>

  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="{{site.baseurl}}/css/home.css" media="screen, projection" />

  	<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="{{site.baseurl}}/js/javascript.js"></script>

  	<title>Corey Lee</title>

  </head>
  <body>

    {{ content }}

  </body>
</html>
